<html>
    <head>
        <title>
            Contact page
        </title>
    </html>
    <body class="img" style="background-image: url(../static/img/aboutbackg.webp);">

       <center>
        <h1>
            <br>
            <br>
            <b><p>CONTACT US</b></p>
        </h1>
       
        <h2> We are here to help you to solve your query.
            <br><br>
          
            </h2>
       </center><br>
            <br>
            
            <centre>
                <h2 style="text-align: center;"> <strong> Reach our Team</strong> </h2>
                <div 
                style="color: rgb(252, 13, 13);
                        text-align: center;"
                >
                    <h3>Thejesh : Mail at - thejesh@gmail.com</h3>
                    <br>
                    <h3>Vishrutha: Mail at - vishrutha@gmail.com</h3>
                    <br>
                    <h3>Hafeez: Mail at - hafeez@gmail.com</h3>
                </div>
            </centre>        
        <p>
            <b><centre>
                <p class="reachus" style="text-align: centre;">Contact us: admin@gmail.com</p>
                </centre>
            </b>
            <style>
                .reachus{
                    color: rgb(29, 5, 253);
                    font-size: larger;
                    text-align: center;
                }
            </style>
        </p>
    </body>
</html>