<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Swatch Bharath</title>

  <link rel="stylesheet" href="../static/css/homepagecss1.css">

  <link rel="stylesheet" href="../static/css/homepagecss2.css">

  <link rel="stylesheet" href="../static/css/homepagecss3.css">

  <link rel="stylesheet" href="../static/css/homepagecss4.css">

  <link rel="stylesheet" href="../static/css/homepagecss5.css">
  <style>
    .box{
      
      color: rgb(38, 0, 255);
      background-color: rgba(255, 149, 149, 0.644);
      text-align: center;
      height: 50px;
      
      border-radius:80px;
      padding-top: 10px;
      font-size: 22px;

    }
  </style>
</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-sm">
            <div class="site-inf
  
            </div>
          </div>
          <div class="col-sm-4 text-right text-sm">
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .topbar -->

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#"><span class="text-primary"><h1>SWATCH BHARATH</h1></span> Its for you : {{request.session.Username}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupport">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <h4 style="background-color: yellow; padding: 5px"><bold>Logged in as : {{request.session.Username}}</bold></h4>
              <h5><a style="color: black;" href="about">About Us</a><br>
              <a style="color: black;" href="myorders">My Orders</a><br>
              <a style="color: black;" href="contact">Contact Us</a><br>
              <a style="color: black;" href="login">Logout</a>
              </h5>
            </li>
          </ul>
        </div> <!-- .navbar-collapse -->
      </div> <!-- .container -->
    </nav>
  </header>

  <div class="page-hero bg-image overlay-dark" style="background-image: url(../static/img/buybg.jpg);">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <span class="subhead">Make India clean</span>
        <h1 class="display-4">Green India</h1>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container">
        <div class="row justify-content-center">
          
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-primary text-white">
                <span class="mai-shield-checkmark"></span>
              </div>
              <p><p><a href="buy">BUY ITEMS</a></p></p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-accent text-white">
                <span class="mai-basket"></span>
              </div>
              <p><p><a href="donate">DONATE ITEMS</a></p></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->
<br>
<br><center>
    <div class="box"
    <p><a href="posts"> | POSTS |</a></p>
    <div class="box"
    <p><a href="https://gurukul.org/blog/social-activities/swachh-bharat-campaign-hyderabad/?utm_source=GOOGLE&utm_medium=GOOGLE&utm_campaign=PROMOTE&utm_content=blog&gclid=Cj0KCQjwheyUBhD-ARIsAHJNM-PiF46bqGZc1K1xFz-wKN6HwvYB4bI4WImlIpPsSCrLdr8zDhsFiJYaAg3-EALw_wcB"> | ARTICLES |</a></p>
    <div class="box"
    <p><a href="addpost"> | ADD POSTS |</a></p>
    </div>
  </div>
</div><br>
<br>
</center>
<br>
<br>
    <div class="page-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1>Welcome to SWATCH BHARATH <br> <h6>Explore the green</h6></h1>
            <p class="text-grey mb-4">A clean India would be the best tribute India could pay to Mahatma Gandhi on his 150 birth anniversary in 2019,” said Shri Narendra Modi as he launched the Swachh Bharat Mission at Rajpath in New Delhi. On 2nd October 2014, Swachh Bharat Mission was launched throughout length and breadth of the country as a national movement. The campaign aims to achieve the vision of a ‘Clean India’ by 2nd October 2019.</p>
            <a class="nav-link" href="about">Learn more</a>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
            <div class="img-place custom-img-1">
              <img src="../static/img/img22.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .bg-light -->
  </div> <!-- .bg-light -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Featured</h1>
      <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
        {% if key1 %}
      {% for i in key1 %}
        <div class="item">
          <div class="card-doctor">
            <div class="header">
              <img src="{{MEDIA_URL}}{{i.Image.url}}" alt="">
            </div>
            <div class="body">
              <p class="text-xl mb-0">{{i.Itemname}}</p>
              <span class="text-sm text-grey"></span>
            </div>
          </div>
        </div>
        {% endfor %}
	{% endif %}
        
  </div>
  <div class="page-section banner-home bg-image" style="background-image: url(../static/img/bg.webp);">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="../static/img/mobile_app.png" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h1 class="font-weight-normal mb-3">Go to playstore for our Android app</h1>
          <a href="#"><img src="../static/img/playimg.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div> <!-- .banner-home -->

  <footer class="page-footer">
    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Domain</h5>
          <ul class="footer-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">our Team</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>More</h5>
          <ul class="footer-menu">
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5><a href="contact">Contact Us</a></h5>
          <p class="footer-link mt-2">Domain address </p>
          <p><a href="#" class="footer-link">9656****08</a></p>
          <a href="#" class="footer-link">swatchbharath@gmail.com</a>

          <h5 class="mt-3">Social Media</h5>
          <div class="footer-sosmed mt-3">

            <a href="https://www.linkedin.com/in/thejesh-73685a193" target="_blank" style="background-image: url(../static/img/linkedin.png)"></a> <span class="linkedin"></span></a>
          </div>
        </div>
      </div>

      <hr>
    </div>
  </footer>

<script src="../static/js/js2.js"></script>

<script src="../static/js/js1.js"></script>

<script src="../static/js/js3.js"></script>

<script src="../static/js/js4"></script>

<script src="../static/js/js5.js"></script>
  
</body>
</html>