<html>
    <head>
        <title>Login</title>

    <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div>
            <center>
                {% if msg %}
                    <h1 style="color:red">{{msg}}</h1>
                    {% endif %}
            </center>
        </div>
       <h1 id="heading1"><mark>Login Here</mark></h1>
       <img src="../static/img/login1.png" alt="Login Logo" style="width:100px; height:100px;">
     <div>
         <form action="{% url 'loginuser' %}" method="POST" class="myForm" name="myForm">
             {% csrf_token %}
             <div class="input-container">
                 <i class="fa fa-envelope icon"></i>
                 <input type="email" placeholder="Email" name="email" class="input-field" required>
             </div>
             <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input type="password" placeholder="Password" name="password" class="input-field"  required>
               </div>
            <div><input type="submit" value="login" class="bttn"></div>
         </form>
     </div>
     <h3 style="color: rgb(255, 255, 255);text-align: center;"><strong>New member?  <a href="signup"><p style="color: rgb(0, 140, 255);">Signup here</p></a> </strong>
     
    </body>
</html>