<!DOCTYPE html>
<html>
    <title>My orders</title>
    <link rel="stylesheet" href="../static/css/mo.css">
    <head>
        <h1><mark>MY ORDERS</mark></h1>
       </head>
       <body>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>posted</title>
            <style>
                .box{
                  
                  color: rgb(38, 0, 255);
                  background-color: rgba(233, 163, 83, 0.918);
                  text-align: center;
                  height: 70px;
                  padding-top: 20px;
                  font-size: 22px;
        
            
                }
                </style>
        </head>
        <body>
            <br>
            <br>
            <br>
            <h1><center>My orders section is under development stage</center></h1>
            <br>
            <br>
            <center><div class="box"
            <p><a href="homepage"> | Return To Homepage |</a></p>
            </div></center>
       </body>
</html>