<html>
    <head>
        <title>
            sold page
        </title>
    </html>
    <body class="img" style="background-image: url(../static/img/aboutbackg.webp);">

       <center>
        <h1>
            <br>
            <br>
            <b><p>Sold successfully</b></p>
        </h1>
       
        <h2>Helping To Encrich Earth with greenary is the first duty of each and every living creature.
            <br><br>
            You done it ,,,,,,
        </h2>
       </center><br>
            <br>
            
            <centre>
                <h2 style="text-align: center;"> <strong>All the best :{{request.session.Username}}</strong> </h2>
            </centre>        
        <p>
            <b><centre>
                <p class="reachus" style="text-align: centre;">Reach us at : admin@gmail.com</p>
                </centre>
            </b>
            <style>
                .reachus{
                    color: rgb(29, 5, 253);
                    font-size: larger;
                    text-align: center;
                }
            </style>
        </p>
    </body>
</html>